{
 :path                       "target/segments/"
 :segment-roll-size          25000
 :max-segments               50
 :merge-strategy             {:min-mergable-segment-size 10}
 :merge-trigger-interval-sec 4
 :max-body-size              5000
 }